@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*{
  font-family: 'DM Serif Display', serif;
}

body{
  background-image: url("../img/fondoMadera.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/********* Css Index ********/
.logo{
  width: 6rem;
}
.logoH{
  margin-right: 28rem;
}
.container-fluid{
  background-color: #432818;
  border-bottom: #2b0404 solid 2px;
}

.nav-pills{
  padding: 0;
}

.nav-link{
  color: black;
  text-transform: uppercase;
}

.nav-pills .nav-link.active{
  background-color: rgb(61, 14, 14);
}

.imgCarusel{
  height: 500px;
  object-fit: cover;
}

.fotoHistoria{
  width: 98%;
  height: 500px;
  margin: 2%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.historia{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 48px;
  text-align: center;
  justify-content: space-around;
}

.historia p{
  color: white;
}

.tituloHistoria{
  margin-top: 40px;
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
}

footer {
  background-color: #432818;
  border-top: #2b0404 solid 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
}

.carousel{
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}