@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
/*Variables*/
.logo {
  width: 6rem; }

.container-fluid {
  background-color: #bc6c25;
  border-bottom: #2b0404 solid 2px; }

.nav-pills {
  padding: 0; }
  .nav-pills .nav-link.active {
    background-color: #bc6c25; }

.nav-link {
  color: white;
  text-transform: uppercase; }

/*Variables*/
footer {
  background-color: #bc6c25;
  border-top: #2b0404 solid 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white; }

/*Variables*/
/*Variables*/
.btn-primary {
  color: white;
  background-color: #bc6c25; }
  .btn-primary:hover {
    color: white;
    background-color: #dda15e; }
  .btn-primary:focus {
    color: white;
    background-color: #dda15e; }
  .btn-primary:active {
    color: white;
    background-color: #dda15e; }

.btn-primary.active {
  color: black;
  background-color: #5a3333;
  border-color: black; }

.open > .dropdown-toggle.btn-primary {
  color: black;
  background-color: #5a3333;
  border-color: black; }

button:focus {
  outline-color: transparent !important;
  outline-style: none !important; }

.boton {
  margin: 0 10px 10px 20px; }

body {
  overflow-x: hidden; }

* {
  font-family: 'DM Serif Display', serif; }

/********* SCss Index ********/
.imgCarusel {
  height: 65vh;
  object-fit: cover; }

.fotoHistoria {
  width: 100%;
  height: 40rem; }

.historia {
  display: flex;
  flex-direction: column;
  margin: 48px;
  text-align: center;
  justify-content: center; }

.historia p {
  color: black;
  text-align: justify; }

.tituloHistoria {
  margin-top: 40px;
  text-align: center;
  font-family: "Oleo Script Swash Caps", cursive;
  color: black; }

/********* Scss Ubicacion ********/
.tituloUbicacion, .titulo {
  display: flex;
  color: black;
  justify-content: center;
  margin-top: 20px; }

.fotoElCazador {
  max-width: 100%;
  width: 100%;
  height: 100vh; }

.infoUbi {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #bc6c25;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 4%;
  width: 42%; }
  .infoUbi h1 {
    font-family: "Oleo Script Swash Caps", cursive;
    color: white; }
  .infoUbi div a {
    color: white; }

.vector {
  width: 1rem; }

/********* Scss Contacto ********/
.tituloContacto {
  display: flex;
  color: black;
  justify-content: center;
  margin-top: 20px; }

.parrafos {
  display: flex;
  color: black;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  .parrafos h2 {
    font-family: "Oleo Script Swash Caps", cursive; }
  .parrafos p {
    text-align: center; }

.imgContacto img {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.formContacto {
  width: 48%;
  height: 100%;
  margin-bottom: 20px;
  background-color: #bc6c25; }

.form-group p {
  color: black;
  margin: 0;
  margin-top: 20px; }

#estadoCivil {
  margin-top: 20px; }

.estadoCivil {
  color: black; }

.checkNovedades {
  margin-top: 20px;
  margin-bottom: 10px;
  color: black; }

.text-center {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px; }

/********* Scss Encuesta ********/
.tituloEncuesta {
  display: flex;
  color: black;
  justify-content: center;
  margin-top: 20px; }

.encuesta {
  background-color: #bc6c25;
  border: black solid 3px;
  color: black;
  padding: 10px;
  width: 96%;
  margin: 0 2%; }
  .encuesta p {
    margin: 0 20px;
    display: inline; }
  .encuesta div {
    margin: 20px 0; }

.contenedor {
  display: flex;
  justify-content: center; }

.sorteo {
  background-color: #bc6c25;
  text-align: center;
  width: 40%;
  color: black; }
  .sorteo div {
    margin: 40px 0; }
  .sorteo h2 {
    color: white;
    font-family: "Oleo Script Swash Caps", cursive;
    margin: 8px; }

.row section div {
  margin-top: 10%; }

.cont {
  display: flex;
  align-items: center;
  justify-content: center; }

.fotoSorteo {
  width: 96%; }

/********* Scss Take Away ********/
.takeAwayImg {
  width: 100%;
  max-height: max-content; }

.tituloTakeAway {
  display: flex;
  color: black;
  justify-content: center;
  margin-top: 20px; }

.titulo {
  font-family: "Oleo Script Swash Caps", cursive;
  color: white; }

.burgerCard {
  margin: 20px;
  display: flex;
  justify-content: space-around; }

.card {
  border: none;
  margin: 1%; }
  .card div div img {
    border-radius: 16px; }

.col-md-4 .btn-primary {
  margin-top: 10px; }

.precio {
  text-transform: bold;
  color: black; }

.card-title {
  text-transform: bold;
  color: black; }

.card-text {
  font-style: "Oleo Script Swash Caps", cursive;
  color: black; }

.tituloTipo {
  color: black;
  margin-left: 8%;
  font-family: "Oleo Script Swash Caps", cursive; }

.container-titulo {
  background-color: #bc6c25;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center; }

/********* QUERIES ********/
@media (min-width: 320px) and (max-width: 417px) {
  /*Query ubicacion*/
  .infoUbi {
    width: 90%;
    margin: 4%; }
    .infoUbi div {
      margin-bottom: 10px; }
  /*Query contacto*/
  .parrafos {
    text-align: center; }
  .imgContacto {
    display: none; }
  .formContacto {
    width: 80%;
    margin: 0 10% 10% 10%; }
  /*Query encuesta*/
  .tituloEncuesta {
    margin: 5%;
    text-align: center; }
  .encuesta {
    width: 90%; }
  .sorteo {
    width: 90%;
    margin: 5%; }
  .fotoSorteo {
    display: none; } }
