.logo{
  width: 6rem;
}

.container-fluid{
  background-color:grey;
}

.imgCarusel{
  height: 500px;
}

.tituloPrincipal{
  text-align: center;
  margin: 20px;
}

.fotoHistoria{
  width: 98%;
  height: 98%;
  margin: 2%;
}

.historia{
  display: flex;
  flex-direction: column;
  background-color: aqua;
  margin: 40px;
  text-align: center;
  justify-content: space-around;
}

.tituloHistoria{
  margin-top: 20px;
  text-align: center;
}

footer {
  background-color: #432818;
  border-top: #2b0404 solid 2px;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}