@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import '../partials/header';
@import '../partials/footer';
@import '../partials/variables';
@import '../partials/botones';

body{
  overflow-x: hidden;
}

@mixin estiloTitulos {
    display: flex;
    color: black;
    justify-content: center;
    margin-top: $margin-top;
}

*{
    font-family: 'DM Serif Display', serif;
  }

/********* SCss Index ********/
.imgCarusel{
    height: 65vh;
    object-fit: cover;
  }

.fotoHistoria{
    width:100%;
    height: 40rem;
  }

.historia{
    display: flex;
    flex-direction: column;
    margin: 48px;
    text-align: center;
    justify-content: center;
  }

.historia {
	p {
		color: black;
    text-align: justify;
	}
}

.tituloHistoria{
    margin-top: $margin-top*2;
    text-align: center;
    font-family: $fuente-cursiva;
    color: black;
  }

/********* Scss Ubicacion ********/
.tituloUbicacion{
    @include estiloTitulos;
  }
  
.fotoElCazador{
    max-width: 100%;
    width: 100%;
    height: 100vh;
  }

.infoUbi{
    box-shadow: $box-shadow;
    -webkit-box-shadow: $webkit-box-shadow;
    -moz-box-shadow: $moz-box-shadow;
    background-color: $color-fondo;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 4%;
    width: 42%;

    h1{
		font-family: $fuente-cursiva;
		color: white;
	}
	div {
		a {
			color: white;
		}
	}
  }

.vector{
  width: 1rem;
}

/********* Scss Contacto ********/
.tituloContacto{
    @include estiloTitulos;
  }

.parrafos {
	@include estiloTitulos;
	margin-bottom: $margin-bottom;

	h2 {
		font-family: $fuente-cursiva;
	}

    p{
        text-align: center;
    }
}

.imgContacto {
	img {
		width: 80%;
		margin-left: 10%;
		margin-bottom: $margin-bottom;
		box-shadow: $box-shadow;
    -webkit-box-shadow: $webkit-box-shadow;
    -moz-box-shadow: $moz-box-shadow;
  }
}

.formContacto{
    width: 48%;
    height: 100%;
    margin-bottom: $margin-bottom;
    background-color: $color-fondo;
  }

.form-group {
	p {
		color: black;
		margin: 0;
		margin-top: $margin-top;
	}
}

#estadoCivil {
    margin-top: $margin-top;
  }
  
.estadoCivil{
    color: black;
  }
  
.checkNovedades{
    margin-top: $margin-top;
    margin-bottom: $margin-bottom/2;
    color: black;
  }
  
.text-center{
    display: flex;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom/2;
  }

/********* Scss Encuesta ********/
.tituloEncuesta{
    @include estiloTitulos;
  }
  
.encuesta{
    background-color: $color-fondo;
    border: black solid 3px;
    color: black;
    padding: 10px;
    width: 96%;
    margin: 0 2%;

    p{
        margin: 0 20px;
        display: inline;
    }

    div{
        margin: 20px 0;
    }
  }
  
.contenedor{
    display: flex;
    justify-content: center;
  }
  
.sorteo{
    background-color: $color-fondo;
    text-align: center;
    width: 40%;
    color: black;

    div{
        margin: 40px 0;
    }

    h2{
      color: white;
      font-family: $fuente-cursiva;
      margin: 8px;
    }
  }

.row{
  section{
    div{
      margin-top: 10%;
    }
  }
}
.cont{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fotoSorteo{
    width: 96%;
  }
  
/********* Scss Take Away ********/
.takeAwayImg{
  width: 100%;
  max-height: max-content;
}

.tituloTakeAway{
    @include estiloTitulos;
  }
  
.titulo{
    @extend .tituloUbicacion;
    font-family: $fuente-cursiva;
  }
  
.burgerCard{
    margin: 20px;
    display: flex;
    justify-content:space-around;
  }
  
.card{
    border:none;
    margin: 1%;
    div {
		  div {
			  img {
				  border-radius: 16px;    
			}
		}
	}
  }

.col-md-4{
    .btn-primary{
      margin-top: 10px;
   }
}
.precio{
  text-transform: bold;
  color: black;
}
.card-title{
  text-transform: bold;
  color: black;
}
.card-text{
  font-style: $fuente-cursiva;
  color: black;
}

.tituloTipo{
    color: black;
    margin-left: 8%;
    font-family: $fuente-cursiva;
  }

.container-titulo{
  background-color: $color-fondo;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/********* QUERIES ********/
@media (min-width: 320px) and (max-width: 417px) {
  /*Query ubicacion*/
	.infoUbi {
		width: 90%;
    margin: 4%;
		div {
			margin-bottom: $margin-bottom/2;
		}
	}

    /*Query contacto*/
    .parrafos{
    text-align: center;
    }

    .imgContacto{
        display: none;
    }

    .formContacto{
        width: 80%;
        margin: 0 10% 10% 10%;
    }

    /*Query encuesta*/
    .tituloEncuesta{
        margin: 5%;
        text-align: center;
    }
    .encuesta{
        width: 90%;
    }
    .sorteo{
        width: 90%;
        margin: 5%;
    }
    .fotoSorteo{
        display: none;
    }
  }