@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
@import "../partials/header";
@import "../partials/footer";
@import "../partials/variables";
@import "../partials/botones";

@mixin estiloTitulos {
  display: flex;
  color: $black;
  justify-content: center;
  margin-top: $margin-top;
}

* {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: $white;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  row-gap: 64px;
}

/********* Scss Index ********/
.imgCarusel {
  height: 86vh;
  object-fit: cover;
}

.fotoHistoria {
  width: 100%;
  height: 40rem;
  border-radius: 24px;
}

.primary-button {
  background: $black;
  border: none;
  width: fit-content;
  padding: 0 24px;
  height: 48px;
  border-radius: 12px;
  color: $white;
  font-size: 18px;
  font-weight: 700;
}

.about {
  display: grid;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  row-gap: 48px;
  padding: 0 64px;

  h2 {
    text-align: center;
    font-size: 28px;
  }

  .list {
    display: flex;
    gap: 124px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    .item {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      align-items: center;

      .image {
        width: 150px;
        background: rgba(237, 237, 237, 1);
        border-radius: 100%;
        height: 150px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      span {
        color: $black;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

.root-content {
  display: flex;
  flex-direction: column;
  row-gap: 124px;
}

.hero {
  width: 100%;
  display: flex;
  height: 500px;
  padding: 0 24px;

  .content {
    align-items: center;
    justify-content: space-around;
    column-gap: 24px;
    display: flex;
    width: 100%;

    .information {
      width: fit-content;
      display: flex;
      flex-direction: column;
      row-gap: 12px;

      h1 {
        font-size: 64px;
        max-width: 680px;
        margin: 0;
        color: $black;

        strong {
          color: $color;
        }
      }

      p {
        font-size: 16px;
        color: $black;
        margin: 0;
      }

      a {
        text-decoration: none;
        text-transform: none;

        &:hover {
          color: $white;
        }
      }
    }

    .image {
      width: 460px;
      height: 460px;

      img {
        height: 100%;
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: contain;
      }
    }
  }
}

h1 {
  margin-top: $margin-top * 2;
  color: black;
  font-size: 36px;
}

.historia {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-right: 140px;

  p {
    color: black;
    text-align: justify;
    font-size: 16px;
  }
}

.row {
  display: flex;
  align-items: center;
  padding-bottom: 124px;
}

/********* Scss Ubicacion ********/
.tituloUbicacion {
  @include estiloTitulos;
}

.infoUbi {
  box-shadow: $box-shadow;
  -webkit-box-shadow: $webkit-box-shadow;
  -moz-box-shadow: $moz-box-shadow;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 4%;
  width: 42%;
  height: 100vh;

  h1 {
    color: $black;
  }

  div {
    a {
      color: $black;
      font-size: larger;
      text-decoration: none;
    }

    a:hover {
      border-bottom: $black solid 1px;
    }
  }
}

.vector {
  width: 1rem;
}

/********* Scss Contacto ********/
.tituloContacto {
  @include estiloTitulos;
}

.parrafos {
  @include estiloTitulos;
  margin-bottom: $margin-bottom*2;

  p {
    text-align: center;
  }
}

.imgContacto {
  img {
    width: 80%;
    margin-left: 10%;
    margin-bottom: $margin-bottom;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $webkit-box-shadow;
    -moz-box-shadow: $moz-box-shadow;
    border-radius: 8px;
  }
}

.containCheck {
  display: flex;
  align-items: center;
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: $black;
  border: solid 1px $color;

  .checkNovedades {
    width: 24px;
    margin-left: 8px;
    border-radius: 40px;
  }
}

input {
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: $black;

  border: solid 1px $color;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #dda15e;
  color: #e2dedb;
}

textarea {
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: $black;

  border: solid 1px $color;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #dda15e;
  color: #e2dedb;
}

.submit {
  width: 100%;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-size: 0.875em;
  color: $black;

  outline: none;
  cursor: pointer;

  border: solid 1px $color;
  border-top: none;
}

.submit:hover {
  color: #e2dedb;
}

/********* Scss Encuesta ********/
.tituloEncuesta {
  @include estiloTitulos;
}

.encuesta {
  background-color: $color;
  padding: 12px;
  width: 96%;
  margin: 0 2%;
  border-radius: 8px;

  p {
    margin: 0 20px;
    display: inline;
  }

  div {
    margin: 20px 0;
  }
}

.sorteo {
  background-color: $color;
  text-align: center;
  width: 40%;
  padding: 2%;
  color: black;
  border-radius: 8px;

  h2 {
    color: white;
    font-family: $fuente-cursiva;
    margin: 8px;
  }
}

.row {
  section {
    div {
      margin-top: 10%;
    }
  }
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fotoSorteo {
  width: 96%;
}

.boton-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;

  input {
    margin-right: 12px;
  }
}

/********* Scss Take Away ********/
.row {
  padding-bottom: 64px;
}

.articulo {
  margin-bottom: 60px;
}

.producto {
  display: flex;
}

.producto-titulo {
  font-weight: bold;
  font-size: medium;
}

.producto-text {
  font-size: small;
}

.precio {
  font-weight: bold;
  margin: 0;
}

.imgProducto {
  img {
    width: 8rem;
    border-radius: 16px;
  }
}

.dataProducto {
  width: 10rem;
  height: 8.5rem;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boton {
  display: flex;
  margin: 0;
  justify-content: center;
  margin-top: 8px;
  border-radius: 24px;
}

.contenedor-productos {
  display: flex;
  justify-content: center;
  padding: 0;
}

.takeAwayImg {
  width: 10%;
  max-height: max-content;
}

.tituloTakeAway {
  @include estiloTitulos;
}

.titulo {
  @extend .tituloUbicacion;
  color: $white;
}

.tituloTipo {
  color: $black;
  margin-bottom: 8px;
}

.container-titulo {
  background-color: $color;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.card {
  background-color: $white;
  border: transparent;
}

/********* QUERIES ********/
@media (min-width: 320px) and (max-width: 417px) {

  /*Query footer*/
  footer {
    .social {
      display: none;
    }

    .logo {
      display: none;
    }

    text-align: center;
  }

  /*Query ubicacion*/
  .infoUbi {
    width: 90%;
    margin: 4%;

    div {
      margin-bottom: $margin-bottom/2;
    }
  }

  /*Query contacto*/
  .parrafos {
    text-align: center;
  }

  .tituloContacto {
    text-align: center;
  }

  .imgContacto {
    display: none;
  }

  .formContacto {
    width: 80%;
    margin: 0 10% 10% 10%;
  }

  /*Query encuesta*/
  .tituloEncuesta {
    margin: 5%;
    text-align: center;
  }

  .sorteo {
    width: 90%;
    margin: 5%;
  }

  .fotoSorteo {
    display: none;
  }

  /*Query home*/
  .about {
    .list {
      gap: 64px;
    }
  }

  .hero {
    height: 460px;

    .content {
      .information {
        h1 {
          font-size: 48px;
        }
      }

      .image {
        display: none;
      }
    }
  }

  .container {
    padding-bottom: 24px;

    .row {
      .content {
        .historia {
          margin: 0;
        }
      }
    }
  }

  .root-content {
    row-gap: 64px;
  }
}