@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import '../partials/header';
@import '../partials/footer';
@import '../partials/body';
@import '../partials/variables';
@import '../partials/botones';

@mixin estiloTitulos {
    display: flex;
    color: white;
    justify-content: center;
    margin-top: $margin-top;
}

*{
    font-family: 'DM Serif Display', serif;
  }

/********* SCss Index ********/
.imgCarusel{
    height: 500px;
    object-fit: cover;
  }

.fotoHistoria{
    width: 98%;
    height: 500px;
    margin: 2%;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $webkit-box-shadow;
    -moz-box-shadow: $moz-box-shadow;
  }

.historia{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 48px;
    text-align: center;
    justify-content: space-around;
  }

.historia {
	p {
		color: white;
	}
}

.tituloHistoria{
    margin-top: $margin-top*2;
    text-align: center;
    font-family: $fuente-cursiva;
    color: white;
  }
  
.carousel{
    box-shadow: $box-shadow;
    -webkit-box-shadow: $webkit-box-shadow;
    -moz-box-shadow: $moz-box-shadow;
  }

/********* SCss Ubicacion ********/
.tituloUbicacion{
    @include estiloTitulos;
  }
  
.fotoElCazador{
    box-shadow: $box-shadow;
    -webkit-box-shadow: $webkit-box-shadow;
    -moz-box-shadow: $moz-box-shadow;
    max-width: 100%;
    width: 50%;
    height: auto;
    display:block;
    margin: 40px auto;
  }

.infoUbi{
    box-shadow: $box-shadow;
    -webkit-box-shadow: $webkit-box-shadow;
    -moz-box-shadow: $moz-box-shadow;
    background-color: #3a1803;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 4%;
    width: 42%;

    h2 {
		font-family: $fuente-cursiva;
		color: white;
	}
	div {
		a {
			color: white;
		}
	}
  }

.vector{
  width: 1rem;
}

/********* Scss Contacto ********/
.tituloContacto{
    @include estiloTitulos;
  }

.parrafos {
	@include estiloTitulos;
	margin-bottom: $margin-bottom;

	h2 {
		font-family: $fuente-cursiva;
	}

    p{
        text-align: center;
    }
}

.imgContacto {
	img {
		width: 80%;
		margin-left: 10%;
		margin-bottom: $margin-bottom;
		box-shadow: $box-shadow;
    -webkit-box-shadow: $webkit-box-shadow;
    -moz-box-shadow: $moz-box-shadow;
  }
}

.formContacto{
    width: 48%;
    height: 100%;
    margin-bottom: $margin-bottom;
    background-color: $color-fondo;
  }

.form-group {
	p {
		color: black;
		margin: 0;
		margin-top: $margin-top;
	}
}

#estadoCivil {
    margin-top: $margin-top;
  }
  
.estadoCivil{
    color: black;
  }
  
.checkNovedades{
    margin-top: $margin-top;
    margin-bottom: $margin-bottom/2;
    color: black;
  }
  
.text-center{
    display: flex;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom/2;
  }

/********* Scss Encuesta ********/
.tituloEncuesta{
    @include estiloTitulos;
  }
  
.encuesta{
    background-color: $color-fondo;
    border: black solid 3px;
    color: black;
    padding: 10px;

    p{
        margin: 0 20px;
        display: inline;
    }

    div{
        margin: 20px 0;
    }
  }
  
.contenedor{
    display: flex;
    justify-content: center;
  }

.sorteo{
    background-color: $color-fondo;
    text-align: center;
    padding: 20px;
    margin: 2%;
    width: 46%;
    color: black;
    box-shadow: $box-shadow;
    -webkit-box-shadow: $webkit-box-shadow;
    -moz-box-shadow: $moz-box-shadow;

    div{
        margin: 40px 0;
    }
  }

.row{
  section{
    div{
      margin-top: 10%;
    }
  }
}
  
.fotoSorteo{
    box-shadow: $box-shadow;
    -webkit-box-shadow: $webkit-box-shadow;
    -moz-box-shadow: $moz-box-shadow;
    width: 96%;
    margin: 2%;
  }
  
/********* Scss Take Away ********/
.tituloTakeAway{
    @include estiloTitulos;
  }
  
.titulo{
    @extend .tituloUbicacion;
    font-family: $fuente-cursiva;
  }
  
.burgerCard{
    margin: 20px;
    display: flex;
    justify-content:space-around;
  }
  
.card{
    background-color:transparent;
    margin: 1%;
    color: white;

    div {
		  div {
			  img {
				  border-radius: 16px;
          margin: 10px;
			}
		}
	}
  }

.col-md-4{
    .btn-primary{
      margin-top: 20px;
   }
}
.precio{
  text-transform: bold;
}
.card-title{
  text-transform: bold;
}
.card-text{
  font-style: $fuente-cursiva;
}

.tituloTipo{
    color: white;
    margin-left: 8%;
    font-family: $fuente-cursiva;
  }


/********* QUERIES ********/
@media (min-width: 320px) and (max-width: 417px) {
  /*Query ubicacion*/
	.infoUbi {
		width: 100%;
		div {
			margin-bottom: $margin-bottom/2;
		}
	}
	.fotoElCazador {
		display: none;
	}
    /*Query contacto*/
    .parrafos{
    text-align: center;
    }

    .imgContacto{
        display: none;
    }

    .formContacto{
        width: 80%;
        margin: 0 10% 10% 10%;
    }

    /*Query contacto*/
    .tituloEncuesta{
        margin: 5%;
        text-align: center;
    }
    .encuesta{
        width: 90%;
    }
    .sorteo{
        width: 90%;
        margin: 5%;
    }
    .fotoSorteo{
        display: none;
    }
  }