@import './variables';
.logo{
    width: 6rem;
  }

.container-fluid{
    background-color: $color-fondo;
    border-bottom: #2b0404 solid 2px;
  }
  
.nav-pills{
    padding: 0;
    .nav-link.active {
		background-color: #bc6c25;
	}
  }
  
.nav-link{
    color: white;
    text-transform: uppercase;
  }